<div class = "wrapper">
  <p id="notice"><%= notice %></p>

  <h1>Posts</h1>
  <p class="center_text"> Welcome <%= current_user.username %></p>
   
      <% @posts.each do |post| %>

      <div class="well">
          <div class="row">

              <p class="col col-md-4 col-sm-4 col-xs-4 title"><%= post.title  %></p>

           <!-- Avatar -->
             <p class="col col-md-1 col-sm-1 hidden-xs">
              <% if post.user.avatar.url != nil %>
              <%= image_tag post.user.avatar.url, class: "avatar" %>
              <% end %>
            </p>

              <p class="col col-md-3 col-sm-3 col-xs-4"><strong class="subheader">Author: </strong><%= link_to post.user.username, user_posts_path(name: post.user.username) %>
              </p>

       

              <p class="col col-md-4 col-sm-4 col-xs-4"><strong class="subheader">Created On: </strong><%= post.created_at.strftime("%d %b. %y")  %></p>

          </div>
              <hr class="line">
          <div>
            <p ><%= post.blog_entry.html_safe %></p>
          </div>
            <hr class="line">

          <div class="row">

            <p class="col col-md-4 col-sm-4 col-xs-4"><%= link_to 'Show', post, class: "btn btn-info center-block" %></p>
        
          <%if post.user_id == current_user.id %>    
            <p class="col col-md-4 col-sm-4 col-xs-4 ">

              <%= link_to 'Edit', edit_post_path(post),class: "btn btn-primary center-block" %>            
              </p>
            
            <p class="col col-md-4 col-sm-4 col-xs-4">
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-warning center-block"  %> 
              </p>
            <% end %>
          
          </div>

        </div>
   <% end %>
   <!-- Paginate --> 
    <p class="center_text nav-link" 
      <%= paginate @posts %> >
    </p>

</div>
